---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "We are Deab Labs",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Deab Labs is a collective of developers and designers building with AI.</p>
		<p>Here are some of our interests:</p>
		<ul class="list-inside list-disc">
			<li>Real-time collaborative software involving humans and AI agents</li>
			<li>Graph based AI interfaces</li>
			<li>Voice based AI interfaces</li>
			<li>Easy to use AI applications</li>
			<li>Democratized AI Assistants</li>
		</ul>
	</div>
</PageLayout>
