---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";

interface Props extends IElement {
	project: CollectionEntry<"project">;
	withDesc?: boolean;
}

const { project, as: Element = "div" } = Astro.props;
---

<Element>
	<a href={`/projects/${project.slug}`} rel="noopener noreferrer" class="cactus-link inline-block">
		{project.data.title}
	</a>:<br />
	<p class="inline-block sm:mt-2">{project.data.description}</p>
</Element>
